---
import Layout from '../layouts/Layout.astro';
import medias from '../data.json';
---

<Layout uid="home" template="home">
  <div class="page-hero content team">
    <h1
      class="title"
      data-subpage-hero-title
      data-motion-text="true"
      data-motion-text-split="chars"
      data-motion-text-duration="0.75"
    ></h1>
    <button type="button" class="page-hero__scroll-cue" aria-label="Scroll down">
      <svg class="page-hero__scroll-icon" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="12" y1="4" x2="12" y2="34" stroke="currentColor" stroke-width="1"></line>
        <path d="M7 38 L12 43 L17 38" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
  <div data-gallery-container class="container">
    <div class="grid-container">
      <div class="grid">
        <a class="grid__item" href="/1" style="--r: 1; --c: 1; --s: 4">
          <img loading="eager" src={medias[0].url} alt="" />
        </a>
        <a class="grid__item" href="/2" style="--r: 2; --c: 4; --s: 3">
          <img loading="eager" src={medias[1].url} alt="" />
        </a>
        <a class="grid__item" href="/3" style="--r: 2; --c: 7; --s: 2">
          <img loading="eager" src={medias[2].url} alt="" />
        </a>
        <a class="grid__item" href="/4" style="--r: 3; --c: 3; --s: 4">
          <img loading="eager" src={medias[3].url} alt="" />
        </a>
        <a class="grid__item" href="/5" style="--r: 4; --c: 1; --s: 4">
          <img loading="eager" src={medias[4].url} alt="" />
        </a>
        <a class="grid__item" href="/6" style="--r: 6; --c: 3; --s: 5">
          <img loading="eager" src={medias[5].url} alt="" />
        </a>
        <a class="grid__item" href="/7" style="--r: 7; --c: 4; --s: 4">
          <img loading="eager" src={medias[6].url} alt="" />
        </a>
        <a class="grid__item" href="/8" style="--r: 8; --c: 1; --s: 3">
          <img loading="eager" src={medias[7].url} alt="" />
        </a>
        <a class="grid__item" href="/9" style="--r: 10; --c: 4; --s: 5">
          <img loading="eager" src={medias[8].url} alt="" />
        </a>
      </div>
    </div>
  </div>
</Layout>
